.popup__form-error {
    display: flex;
    margin: 5px auto 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 0, 0, 1);
    opacity: 0;
    }
    