.card {
    margin: 0 auto;
    max-width: calc(100% - 200px*2);
    box-sizing: border-box;
    display: block;
}

@media screen and (max-width: 1279px) {
    .card {
    max-width: calc(100% - 150px*2);
    }
}

@media screen and (max-width: 1024px) {
    .card {
        max-width: calc(100% - 19px*2);
    }
}